@page "/article/add"
@inject HttpClient http
@inject NavigationManager navigation 
@attribute [Authorize(Policy = Policies.IsAdmin)]

<span class="text-dark rounded mr-3 h2 font-weight-bold">
    Write a new article
    @*<Icon Type="form" Theme="outline" />*@
</span>

<div class="m-3 mt-4 shadow-sm rounded bg-light p-2 color1">
    <br />
    <EditForm EditContext="editContext" OnValidSubmit="AddArticle" OnInvalidSubmit="TagSubmit">
        <DataAnnotationsValidator />
        <div class="form-group row rtl">
            <div class="col col-md-7">
                <InputText type="text" class="form-control w-75 rounded" @bind-Value="Post.Title" placeholder="Article Title" />
            </div>
            <div class="col col-m-5">
                <ValidationMessage For="@(() => Post.Title)" />
            </div>
        </div>

        <div class="form-group">
            <div class="form-row rtl">
                <div class="col-3">
                    @if (disableUpload)
                    {
                        <label for="input" class="btn btn-secondary rounded-pill">
                            @*<Icon Type="upload" Theme="outline" />*@ Upload Image
                        </label>
                    }
                    <InputFile id="input" OnChange="@OnChangeImage" class="form-control" hidden accept=".png, .jpg" />
                </div>
                <div class="col-9">
                    <ValidationMessage For="() => Post.Picture" />
                </div>
            </div>

            @if (ImgUrl != null)
            {
                <div class="d-flex flex-row shadow float-right border border-secondary bg-light rounded w-50">
                    <img class="m-2" src="@ImgUrl" style="width:60px; height: 40px;" />
                    <p class="p-2 mt-2 text-success float-left overflow-hidden text-nowrap">@Post.FileName</p>
                </div>
                <br />
                <br />
                <br />
            }
        </div>

        <div class="form-group mr-1 row rtl"> 
            @*<Select Mode="multiple"
                    Style="width: 30%"
                    @bind-Values="@_selectedValues"
                    TItemValue="string"
                    TItem="string"
                    Placeholder="تگ را وارد کنید"
                    OnSelectedItemsChanged="OnSelectedItemsChangedHandler">
                <SelectOptions>
                    @foreach (var tag in Tags)
                    {
                        <SelectOption TItemValue="string" TItem="string" Value=@tag.Id.ToString() Label=@tag.Name />
                    }
                </SelectOptions>
            </Select>
            @if (isTagValid == false)
            {
                <div class="mr-2">
                    <div class="validation-message">تگ خالی میباشد</div>
                </div>
            }*@

        </div>
        <br /><br />

        <div class="form-group">
            @*<SfRichTextEditor @bind-Value="Post.Content" Placeholder="متن را وارد کنید">
            </SfRichTextEditor>
            <ValidationMessage For="@(() => Post.Content)" />*@
        </div>

        <button type="submit" class="@button" disabled="@disable" style="cursor: @cursor">ذخیره</button>
    </EditForm>
</div>

<style>
    .e-richtexteditor .rte-placeholder {
        font-family: monospace;
        text-align: right;
    }

    .demo-option-label-item > span {
        margin-right: 6px;
    }
</style>
 
