@page "/register"
@inject IAuthService AuthService
@inject NavigationManager navigation
@inject HttpClient http

<div class="row register justify-content-center">
    <div class="col-md-6 col-10 pt-4">
        <h1 class="text-white">Register</h1>

        <div class="card shadow">
            @if (ShowErrors)
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (var error in Errors)
                    {
                        <p>@error</p>
                    }
                </div>
            }
            <div class="card-body">
                <EditForm EditContext="editContext" OnValidSubmit="HandleRegistration">
                    <DataAnnotationsValidator />
                    <div class="form-group mt-3">
                        <label for="username">Name</label>
                        <InputText Id="username" class="form-control" @bind-Value="RegisterModel.UserName" />
                        <ValidationMessage For="@(() => RegisterModel.UserName)" />
                    </div>
                    <div class="form-group mt-3">
                        <label for="email2">Email</label>
                        <InputText Id="email2" type="email" class="form-control" @bind-Value="RegisterModel.Email" />
                        <ValidationMessage For="@(() => RegisterModel.Email)" />
                    </div>
                    <div class="form-group mt-3">
                        @if (disable)
                        {
                            <label for="input" class="btn btn-secondary rounded-pill">
                                <i class="bi bi-cloud-upload pe-2 align-middle"></i>Image Profile
                            </label>
                        }
                        <InputFile id="input" OnChange="@OnChangeImage" class="form-control" hidden accept=".png, .jpg" />
                        <ValidationMessage For="() => RegisterModel.Picture" />

                        @if (ImgUrl != null)
                        {
                            <div class="d-flex flex-row col-md-6 shadow border border-secondary bg-light rounded mt-2">
                                <img class="m-2" src="@ImgUrl" style="width:60px; height: 40px;" />
                                <p class="p-2 mt-2 text-success overflow-hidden text-nowrap">@RegisterModel.FileName</p>
                            </div>
                        }
                    </div>
                    <div class="form-group mt-3">
                        <label for="password1">Password</label>
                        <InputText Id="password1" type="password" class="form-control" @bind-Value="RegisterModel.Password" />
                        <ValidationMessage For="@(() => RegisterModel.Password)" />
                    </div>
                    <div class="form-group mt-3">
                        <label for="password2">Confirm Password</label>
                        <InputText Id="password2" type="password" class="form-control" @bind-Value="RegisterModel.ConfirmPassword" />
                        <ValidationMessage For="@(() => RegisterModel.ConfirmPassword)" />
                    </div>
                    <button type="submit" class="@submitButton mt-4">
                        Register
                    </button>
                </EditForm>
            </div>
        </div>

    </div>
</div>

<style>
    .register {
        margin-top: -2.1rem;
        padding-bottom: 200px;
        background: linear-gradient(270deg, #d81b60, #8e24aa, #0288d1);
        background-size: 600% 600%;
        animation: AnimationName 30s ease infinite;
    }

    @@keyframes AnimationName {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }
</style>
