@inject HttpClient http
@using CleanBlog.Shared.Dtos

<div class="m-3 p-3 rounded-start bg-light shadow-sm">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Add comment
    </a>
    <div class="collapse mt-4 text-primary" id="collapseExample">
        <EditForm Model="@Comment" OnValidSubmit="SendComment">
            <DataAnnotationsValidator />
            <div class="form-group col-md-8">
                <label for="exampleInputEmail1">Name</label>
                <InputText type="text" class="form-control" disabled="@disable" @bind-Value="Comment.UserName" placeholder="enter name" />
                <ValidationMessage For="@(() => Comment.UserName)" />
            </div> 
            <div class="form-group col-md-10 mt-2">
                <label for="exampleFormControlTextarea1">Write comment</label>
                <InputTextArea class="form-control text-end" disabled="@disable" @bind-Value="Comment.Content" rows="3"></InputTextArea>
                <ValidationMessage For="@(() => Comment.Content)" />
            </div>
            <button type="submit" class="@button mt-4" disabled="@disable" style="cursor: @cursor">Save</button>
        </EditForm>
    </div>
</div>
@code {
    [Parameter] public int PostId { get; set; }
    AddCommentDTO Comment = new();

    string button = "btn btn-success";
    bool disable = false;
    string cursor = "";

    async Task SendComment()
    {
        var comment = new AddCommentDTO
        {
            PostId = PostId,
            UserName = Comment.UserName,
            Content = Comment.Content
        };
        await http.PostAsJsonAsync($"api/comments", comment);

        Disable();
    }

    void Disable()
    {
        button = "btn btn-secondary disabled";
        disable = true;
        cursor = "not-allowed";
    }
}
